body
  background #545454!important

main.main.container
  background white

#nprogress .bar
  // background #98dc8a
  background #0f0
  box-shadow 0 0 5px #88bf4f

#nprogress .peg
  box-shadow 0 0 10px #0f0, 0 0 5px #0f0;