@import '../node_modules/semantic-ui-css/semantic.min.css';
@import '../node_modules/fullcalendar/dist/fullcalendar.min.css';
@import '../node_modules/fullcalendar-scheduler/dist/scheduler.min.css';
@import '../node_modules/nprogress/nprogress.css';

@import './css/base';
@import './css/mixins';
@import './app/**/*';
