@import '../node_modules/semantic-ui-css/semantic.min.css';
@import '../node_modules/fullcalendar/dist/fullcalendar.min.css';
@import '../node_modules/nprogress/nprogress.css';

@import './app/**/*';
